<!DOCTYPE html>
<html ng-app="redis-charts">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="initial-scale=1, maximum-scale=1, user-scalable=no" />
<link rel="stylesheet"
	href="/angular-material/angular-material.css">
	<link rel="stylesheet" href="/stylesheets/gridstack.css">
<title>Welcome</title>
</head>
<body>
	<div layout="column" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>DASHBOARD POC</span>
      <!-- fill up the space between left and right area -->
      <!-- <span flex></span> -->
    </div>
  </md-toolbar>
  <md-content class="md-padding">
     <div class="grid-stack">
       <md-card class="grid-stack-item" 
          data-gs-x="0" data-gs-y="0" 
          data-gs-width="4" data-gs-height="2">
            <div class="grid-stack-item-content"></div>
            </md-card>
       <md-card class="grid-stack-item" 
          data-gs-x="4" data-gs-y="0" 
          data-gs-width="4" data-gs-height="4">
            <div class="grid-stack-item-content"></div>
    </md-card>
</div>
  </md-content>
</div>
    <script src="/jquery/dist/cdn/jquery-2.1.3.js"></script>
    <script src="/jquery-ui.js"></script>
    <script src="/lodash.js"></script>
	<script src="/angular/angular.js"></script>
	<script src="/angular-aria/angular-aria.js"></script>
	<script src="/angular-animate/angular-animate.js"></script>
	<script src="/mainModule.js"></script>
	<script src="/themeModule.js"></script>
	<script src="/widgetModule.js"></script>
	<script src="/angular-material/angular-material.js"></script>
	
	<script src="/gridstack.min.js"></script>
	<script type="text/javascript">

	$(document).ready(function () {
    var options = {
        animate: true
    };
    $('.grid-stack').gridstack(options);
});

	
</script>
</body>

</html>